.search-item {
    position: relative;
    min-height: 110px;
    margin: 0 0 10px;
    padding: 5px 0 0;
}

.search-item .s-image {
    margin: 0 11px 5px 0;
    margin-top: 0px;
    margin-right: 11px;
    margin-bottom: 5px;
    margin-left: 0px;

    height: 100px;
    width: 100px;

    float : left;
}

.search-item .title {
    position: relative;
    margin: 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.search-item .author {
    margin: 0 0 7px;
    font-size: 16px;
    line-height: 20px;
}

.search-item .owner {
    margin: 5px 0 7px;
    font-size: 14px;
    line-height: 20px;
}

/* Book info */
.book-info {
    position: relative;
    min-height: 87px;
    margin-left: 10px;
    margin-left: 10px;
    padding: 5px 0 0;
}

.book-info .s-image {
    margin: 0 11px 5px 0;
    margin-top: 0px;
    margin-right: 11px;
    margin-bottom: 5px;
    margin-left: 0px;
    float : left;

    max-height: 200px;
    max-width: 200px;
}

/* Owner item */
.owner-item {
    position: relative;
    min-height: 40px;
    margin: 0 0 10px;
    padding: 5px 0 0;
}

.owner-item .owner-name {
    position: relative;
    margin: 0 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    float : left;
}
.owner-item .owner-send-message {
    float : right;
}
