body {
    display: block;
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    /*border-top: 5px solid #7e7e7e;*/
    margin: 0;
}

input[name="q"] {
    width: 90%;
}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 32px;
    color: #7e7e7e;
    padding: 0 10px;
    vertical-align: middle;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
}

p {
    margin: 20px 0;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}

.wrapper__header {
    display: table;
    width: 50%;
}

header {
    padding: 0px 0;
}

.search form[name="search-form"] {
    protion: fixed;
    left: 80%;
}

.wrapper_search-block__search {
    width: 80%;
}

nav {
    float: right;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

#greeting-title {
    /*background: transparent url(../images/h1-bg.png);*/

    margin: 20px 0 30px;
    /*padding-left: 20px;*/
}

#search-block {
    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;
    margin-bottom: 5%;

    width: 90%;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    /*background: url(../images/bg.png);*/
    margin: 0;
    padding: 0 10px;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}

#footer {
    max-width: 960px;
    margin: auto;
    padding: 5px 5px;
    height: 90px;
}

#footer-content {
    float: right;
    font-size: 10px;
    text-align: right;
}

#logo-image {
    float : left;
    width : auto;
}